@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

/* 按钮设置 */
.magic {
  z-index: 100;
  position: fixed;
  top: 20px;
  padding: 12px 20px;
  border: 0;
  border-radius: 3px;
  background-color: #f9ca24;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.magic:focus {
  outline: none;
}

/* 按下效果 */
.magic:active {
  transform: translateY(2px);
  box-shadow: none;
}

/* 最开始 500*500 的显示完整图片 */
.boxes {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
  height: 500px;
  transition: 0.4s ease;
}

/* big 状态下调整宽高 */
.boxes.big {
  width: 600px;
  height: 600px;
}

/* 点击 toggle big 类时旋转内部盒子 */
.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  position: relative;
  width: 125px;
  height: 125px;
  background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
  background-size: 500px 500px;
  background-repeat: no-repeat;
  transition: 0.4s ease;
}

/* 利用明暗色来做立方体的感觉 */
/* 右侧 */
.box::after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 15px;
  height: 100%;
  /* 沿着纵坐标顺时针扭曲 45° */
  transform: skewY(45deg);
  background-color: #f6e58d;
  content: '';
}

/* 下方 */
.box::before {
  position: absolute;
  bottom: -15px;
  left: 8px;
  width: 100%;
  height: 15px;
  transform: skewX(45deg);
  background-color: #f9ca24;
  content: '';
}
