@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  transition: 0.4s;
}

/* 遮罩层 */
body::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  content: '';
}

.slider-container {
  position: relative;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.slide {
  z-index: 1;
  position: absolute;
  top: -15vh;
  left: -15vw;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  /* active 时显示 */
  opacity: 0;
  transition: 0.4s ease;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  top: 50%;
  padding: 20px;
  transform: translateY(-50%);
  border: 2px solid orange;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}
