@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #1f1f1f;
  font-family: 'Muli', sans-serif;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 350px;
  max-width: 100%;
  margin-bottom: 30px;
}

/* ::before 定义的是没有 active 的背景灰色进度条 */
.progress-container::before {
  z-index: -1;
  position: absolute;
  /* absolute 垂直居中 */
  /* top + transform */
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
  background-color: var(--line-border-empty);
  content: '';
}

/* 同 ::before 定义，颜色不同 */
/* width 默认为 0，通过 js 来计算 */
.progress {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 4px;
  transform: translateY(-50%);
  background-color: var(--line-border-fill);
  transition: 0.4s ease;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  background-color: #1f1f1f;
  color: #e2e2e2;
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  margin: 5px;
  padding: 8px 30px;
  border: 0;
  border-radius: 6px;
  background-color: var(--line-border-fill);
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
