@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

.text {
  text-transform: uppercase;
}

.logo {
  width: 200px;
}

.nav-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  /* 左移隐藏，点击出现还能做右移动画 */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav.visible {
  transform: translateX(0);
}

/* delay 时间不同，出现时间不同，width 多出一点来叠加 */
.nav-black {
  width: 60%;
  min-width: 320px;
  max-width: 480px;
  background-color: rgb(34, 31, 31);
  transition-delay: 0.4s;
}

.nav-black.visible {
  transition-delay: 0s;
}

.nav-red {
  width: 95%;
  background-color: rgb(229, 9, 20);
  transition-delay: 0.2s;
}

.nav-red.visible {
  transition-delay: 0.2s;
}

.nav-white {
  position: relative;
  width: 95%;
  padding: 40px;
  background-color: #fff;
  transition-delay: 0s;
}

.nav-white.visible {
  transition-delay: 0.4s;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 30px;
  opacity: 0.3;
}

.list {
  padding: 0;
  list-style-type: none;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.list ul {
  padding-left: 20px;
  list-style-type: none;
}
