@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

button {
  position: relative;
  margin: 10px 0;
  padding: 20px 30px;
  overflow: hidden;
  border: 1px purple solid;
  background-color: purple;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* 创建的 circle 从小变大，并且慢慢消失 */
button .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background-color: #fff;
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
