@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Muli', sans-serif;
}

.container {
  display: flex;
  width: 90vw;
}

/* flex 无单位数字时其实就是 flex-grow，此时 flex-basis 为 0 */
/* 有单位数字代表 flex-basis */
/* flex: 1; === flex: 1 1 0; */
.panel {
  position: relative;
  flex: 0.5;
  height: 80vh;
  margin: 10px;
  border-radius: 50px;
  /* 图片设置三连 */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
  transition: all 700ms ease-in;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-size: 24px;
  /* active 后才显示 */
  opacity: 0;
}

/* 被选中就占大份 */
/* 5/7 */
.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* mobile first */
/* 缩减到三个 panel */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
