@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* 经典居中五连，注意容器高度 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* 清空 body 的默认 margin  */
  margin: 0;
  /* 溢出隐藏 */
  overflow: hidden;
  /* 改字体 */
  font-family: 'Roboto', sans-serif;
}
