@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

/* dark mode */
html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Heebo', sans-serif;
}

.toggle {
  position: absolute;
  top: 100px;
  padding: 8px 12px;
  border: 0;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* relative and absolute */
.clock {
  position: relative;
  width: 200px;
  height: 200px;
}

/* 一条竖线，圆心在底部中心 */
.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 65px;
  transform-origin: bottom center;
  background-color: var(--primary-color);
  transition: all 0.5s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  height: 100px;
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.second {
  height: 100px;
  transform: translate(-50%, -100%) rotate(0deg);
  background-color: #e74c3c;
}

/* 圆心外层 */
.center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #e74c3c;
}

/* 圆心内层 */
.center-point::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--primary-color);
  content: '';
}

.time {
  font-size: 60px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 18px;
  transition: all 0.5s ease-in;
}
